{% extends 'base.html' %} 
{% load static %}
{% block content %}
     <!-- start main content-->
    <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">User :  {% if customer.email %} {{ customer.email }} {% else %} {{ customer.username }}  {% endif %}</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                      
                                        <li class="breadcrumb-item active">Profile Details</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <!--end col-->
                       
                        <div class="col-xxl-12">
                            <div class="d-flex align-items-center flex-wrap gap-2 mb-4">
                                <ul class="nav nav-pills arrow-navtabs nav-secondary gap-2 flex-grow-1 order-2 order-lg-1" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" data-bs-toggle="tab" href="#personalDetails" role="tab" aria-selected="true">
                                            Personal Details
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" data-bs-toggle="tab" href="#changePassword" role="tab" aria-selected="false" tabindex="-1">
                                            Changes Password
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" data-bs-toggle="tab" href="#education" role="tab" aria-selected="false" tabindex="-1">
                                           Orders
                                        </a>
                                    </li>
                                    
                                </ul>
                                <div class="flex-shrink-0 ms-auto order-1 order-lg-2">
                                </div>
                            </div>
                            <div class="card">
                                <div class="tab-content">

                                    <div class="tab-pane active" id="personalDetails" role="tabpanel">
                                        <div class="card-header">
                                            <h6 class="card-title mb-0">Personal Details</h6>
                                        </div>
                                        <div class="card-body">
                                            <form action="javascript:void(0);">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="firstnameInput" class="form-label">First Name</label>
                                                            <input type="text" class="form-control" id="firstnameInput" placeholder="Enter your firstname" value="{{ customer.first_name }}" readonly>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="lastnameInput" class="form-label">User Name</label>
                                                            <input type="text" class="form-control" id="lastnameInput" placeholder="Enter your last name" value="{{ customer.username }}" readonly>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="phonenumberInput" class="form-label">Phone Number</label>
                                                            <input type="text" class="form-control" id="phonenumberInput" placeholder="Enter your phone number" value="{{ customer.phone }}" readonly>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="emailInput" class="form-label">Email Address</label>
                                                            <input type="email" class="form-control" id="emailInput" placeholder="Enter your email" value="{{ customer.email }}" readonly>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="birthDateInput" class="form-label">Birth of Date</label>
                                                            <input type="text" class="form-control" data-provider="flatpickr" id="birthDateInput" data-date-format="d M, Y" value="{% if customer.date_of_birth %} {{customer.date_of_birth}} {% else %}  {% endif %}" placeholder="Select date" readonly >
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="JoiningdatInput" class="form-label">Joining Date</label>
                                                            <input type="text" class="form-control" data-provider="flatpickr" id="JoiningdatInput" data-date-format="d M, Y" value="{% if customer.created_at %} {{customer.created_at}} {% else %}  {% endif %}" placeholder="Select date" readonly>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    
                                                    
                                                    <!--end col-->
                                                </div>
                                                <!--end row-->
                                            </form>
                                        </div>
                                    </div>
                                    <!--end tab-pane-->
                                    <div class="tab-pane" id="changePassword" role="tabpanel">
                                        <div class="card-header">
                                            <h6 class="card-title mb-0">Changes Password</h6>
                                        </div>
                                        <div class="card-body">
                                            <form action="https://themesbrand.com/steex/layouts/pages-profile-settings.html">
                                                <div class="row g-2 justify-content-lg-between align-items-center">
                                                    <div class="col-lg-4">
                                                        <div class="auth-pass-inputgroup">
                                                            <label for="oldpasswordInput" class="form-label">Old Password*</label>
                                                            <div class="position-relative">
                                                                <input type="password" class="form-control password-input" id="oldpasswordInput" placeholder="Enter current password">
                                                                <button class="btn btn-link position-absolute top-0 end-0 text-decoration-none text-muted password-addon" type="button"><i class="ri-eye-fill align-middle"></i></button>

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-4">
                                                        <div class="auth-pass-inputgroup">
                                                            <label for="password-input" class="form-label">New Password*</label>
                                                            <div class="position-relative">
                                                                <input type="password" class="form-control password-input" id="password-input" onpaste="return false" placeholder="Enter new password" aria-describedby="passwordInput" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                                                                <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button"><i class="ri-eye-fill align-middle"></i></button>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="col-lg-4">
                                                        <div class="auth-pass-inputgroup">
                                                            <label for="confirm-password-input" class="form-label">Confirm Password*</label>
                                                            <div class="position-relative">
                                                                <input type="password" class="form-control password-input" onpaste="return false" id="confirm-password-input" placeholder="Confirm password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                                                                <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button"><i class="ri-eye-fill align-middle"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <div class="">

                                                            <button type="submit" class="btn btn-success">Change Password</button>
                                                        </div>
                                                    </div>

                                                    <!--end col-->

                                                    <div class="col-lg-12">
                                                        <div class="card bg-light shadow-none passwd-bg" id="password-contain">
                                                            <div class="card-body">
                                                                <div class="mb-4">
                                                                    <h5 class="fs-sm">Password must contain:</h5>
                                                                </div>
                                                                <div class="">
                                                                    <p id="pass-length" class="invalid fs-xs mb-2">Minimum <b>8 characters</b></p>
                                                                    <p id="pass-lower" class="invalid fs-xs mb-2">At <b>lowercase</b> letter (a-z)</p>
                                                                    <p id="pass-upper" class="invalid fs-xs mb-2">At least <b>uppercase</b> letter (A-Z)</p>
                                                                    <p id="pass-number" class="invalid fs-xs mb-0">A least <b>number</b> (0-9)</p>

                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <!--end row-->
                                            </form>
                                            

                                        </div>
                                    </div>
                                    <!--end tab-pane-->
                                    <div class="tab-pane" id="education" role="tabpanel">
                                        
                                        <div class="">
                                          
                                          <div class="card-header align-items-center d-flex">
                                            <h4 class="card-title mb-0 flex-grow-1">Latest Orders</h4>
                                            <div class="flex-shrink-0">
                                              <div class="dropdown card-header-dropdown sortble-dropdown">
                                                
                                                <div class="dropdown card-header-dropdown sortble-dropdown flex-shrink-0">
                                                  <a class="text-reset dropdown-btn" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fw-semibold text-uppercase fs-12"
                                                    >Sort by: </span
                                                  ><span class="text-muted dropdown-title" id="sort-title">Order Date</span> <i class="mdi mdi-chevron-down ms-1"></i></a>
                                                  <div class="dropdown-menu dropdown-menu-end">
                                                    <button class="dropdown-item sort" data-sort="order_date">Order Date</button>
                                                    <button class="dropdown-item sort" data-sort="order_id">Order ID</button>
                                                    <button class="dropdown-item sort" data-sort="amount">Amount</button>
                                                    <button class="dropdown-item sort" data-sort="order_status">Order Status</button>
                                                    <button class="dropdown-item sort" data-sort="payment_method">Payment Method</button>
                                                    <button class="dropdown-item sort" data-sort="status">Status</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="card-body">
                                            <div class="table-responsive">
                                              <table
                                                class="table table-borderless table-centered align-middle table-nowrap mb-0"
                                              >
                                                <thead class="text-muted table-light">
                      <tr>
                        <th>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="option" id="checkAll" />
                            <label class="form-check-label" for="checkAll"></label>
                          </div>
                        </th>
                        <th scope="col" class="cursor-pointer fs-lg" data-sort="order_id" style="font-family:serif; color:#002147;">Order ID</th>
                        <th scope="col" class="cursor-pointer fs-lg" data-sort="order_date" style="font-family:serif; color:#002147;">Order Date</th>
                        <th scope="col" class="cursor-pointer fs-lg" data-sort="products" style="font-family:serif;color:#002147;">Products</th>
                        <th scope="col" class="cursor-pointer fs-lg" data-sort="customer" style="font-family:serif;color:#002147;">Customer</th>
                        <th scope="col" class="cursor-pointer fs-lg" data-sort="payment_method" style="font-family:serif;color:#002147;">Payment Method</th>
                        <th scope="col" class="cursor-pointer fs-lg" data-sort="amount" style="font-family:serif;color:#002147;">Amount</th>
                        {% comment %} <th scope="col" class="sort cursor-pointer" data-sort="rating">Rating</th> {% endcomment %}
                       <th scope="col" class="cursor-pointer fs-lg" data-sort="status" style="font-family:serif;color:#002147;">Order Status</th>
                      </tr>
                    </thead>
                    <tbody class="list form-check-all" id="order-table-body">
                      {% for order in customer.order_set.all %}
                        <tr data-order-id="{{ order.order_number }}"
                          data-order-date="{{ order.created_at|date:'Y-m-d' }}"
                          
                          data-products="{% for item in order.items.all %}
                            {{ item.product.name }}{% if item.variant %}
                              
                              
                               ({{ item.variant.variant_value }})


                            {% endif %}
                            
                            


                            {% if not forloop.last %}, {% endif %}
                          {% endfor %}"
                          data-customer="{{ order.user.username }}"
                          data-payment-method="{% if order.payment %}
                            {{ order.payment.get_payment_method_display }}
                          {% else %}
                            
                            
                            COD


                          {% endif %}"
                          data-amount="{{ order.total_amount }}"
                          data-status="{{ order.get_status_display }}">
                          <th>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="chk_child" value="{{ order.id }}" />
                              <label class="form-check-label"></label>
                            </div>
                          </th>
                          <td class="order_id" style="font-family:sans-serif;">
                            <a href="{% url 'dashboard:order_detail' order.order_number %}" class="fw-medium link-primary" style="font-family:sans-serif;">{{ order.order_number }}</a>
                          </td>
                          <td class="order_date">{{ order.created_at|date:'d M, Y' }}</td>
                          
                          <td class="products" style="font-family:sans-serif;">
                            {% with item=order.items.all.0 %}
                              {{ item.product.name|slice:':30' }}{% if item.variant.sizes %}
                                ({{ item.variant.color_name }})
                              {% endif %}
                            {% endwith %}
                          </td>
                          <td class="customer" style="font-family:sans-serif;">{{ order.user.username }}</td>
                          <td class="payment_method" style="font-family:sans-serif;">
                            {% if order.payment %}
                              {{ order.payment.get_payment_method_display }}
                            {% else %}
                              COD
                            {% endif %}
                          </td>
                          <td class="amount" style="font-family:sans-serif;">
                            <span class="fw-medium" style="font-family:sans-serif;">₹{{ order.total_amount }}</span>
                          </td>
                          {% comment %} <td class="rating">
                            <h5 class="fs-md fw-medium mb-0">
                              {% with avg_rating=order.items.first.product.average_rating %}
                                {% if avg_rating > 0 %}
                                  {{ avg_rating|floatformat:1 }}/5
                                {% else %}
                                  -
                                {% endif %}
                              {% endwith %}
                            </h5>
                          </td> {% endcomment %}
                         
                          <td class="status">
                            <span class="badge
                                {% if order.status == 'Delivered' or order.status == 'Confirmed' %}
                                    bg-success-subtle text-success
                                {% elif order.status == 'Processing' or order.status == 'Ready to Ship' %}
                                    bg-info-subtle text-info
                                {% elif order.status == 'Cancelled' or order.status == 'Refunded' %}
                                    bg-danger-subtle text-danger
                                {% else %}
                                    bg-warning-subtle text-warning
                                {% endif %}">
                                {{ order.status }}
                            </span>


                          </td>
                          
                          
                        </tr>
                      {% empty %}
                        <tr>
                          <td colspan="11" class="text-center">No orders found</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                                                <!-- end tbody -->
                                              </table>
                                              <!-- end table -->
                                              <div class="noresult" style="display: none">
                                                <div class="text-center">
                                                  <lord-icon
                                                    src="https://cdn.lordicon.com/msoeawqm.json"
                                                    trigger="loop"
                                                    colors="primary:#405189,secondary:#0ab39c"
                                                    style="width: 75px; height: 75px"
                                                  ></lord-icon>
                                                  <h5 class="mt-2">Sorry! No Result Found</h5>
                                                  <p class="text-muted mb-0">
                                                    We've searched more than 150+ transactions We did not find
                                                    any transactions for you search.
                                                  </p>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
          
                                        </div>
                                    </div>
                                    <!--end tab-pane-->
                                   
                                    <!--end tab-pane-->
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->

                </div>
                <!-- container-fluid -->
            </div><!-- End Page-content -->

         
        </div>
        <!-- end main content-->


{% endblock content %}

