{% extends 'base.html' %} {% load static %} {% block content %}

<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12">
          <div class="card card-height-100 border-0 overflow-hidden">
            <div class="card-body p-0">
              <div class="row g-0">
               
                <!-- end col -->
                <div class="col-md-3">
                  <!-- card -->
                  <div class="card shadow-none  border-end-md  rounded-0 mb-0">
                    <div class="card-body">
                      <div class="dropdown float-end">
                        <a
                          class="text-reset dropdown-btn"
                          href="#"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <span class="text-muted fs-lg"
                            ><i class="mdi mdi-dots-vertical align-middle"></i
                          ></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" >
                          <a class="dropdown-item" href="#"  style="font-family: sans-serif;" >Today</a>
                          <a class="dropdown-item" href="#" style="font-family: sans-serif;">Last Week</a>
                          <a class="dropdown-item" href="#" style="font-family: sans-serif;">Last Month</a>
                          <a class="dropdown-item" href="#" style="font-family: sans-serif;">Current Year</a>
                        </div>
                      </div>
                      <div class="avatar-sm">
                        <span
                          class="avatar-title bg-dark-subtle text-dark rounded-circle fs-3"
                        >
                          <i class="ph-bag"></i>
                        </span>
                      </div>
                      <div class="mt-4">
                        <p class="text-uppercase fw-bold  text-truncate fs-sm" style="font-family: serif; color:#002147;">Orders</p>

                        <h4 class="fw-semibold mb-3">
                          <span class="counter-value" data-target="{{total_orders}}">0</span>
                        </h4>
                        <div class="d-flex flex-wrap align-items-center gap-2">
                          <h5 class="text-success fs-xs mb-0">
                            <i
                              class="ri-arrow-right-up-line fs-sm align-middle"
                            style="font-family: sans-serif;"></i>
                            +8.13 %
                          </h5>
                          <p class="text-muted mb-0" style="font-family: sans-serif;">than last week</p>
                        </div>
                      </div>
                    </div>
                    <!-- end card body -->
                  </div>
                  <!-- end card -->
                </div>
                <!-- end col -->
                <div class="col-md-3">
                  <!-- card -->
                  <div class="card shadow-none  border-end-md rounded-0 mb-0">
                    <div class="card-body">
                      <div class="dropdown float-end">
                        <a
                          class="text-reset dropdown-btn"
                          href="#"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <span class="text-muted fs-lg"
                            ><i class="mdi mdi-dots-vertical align-middle"></i
                          ></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a class="dropdown-item" href="#" style="font-family: sans-serif;">Today</a>
                          <a class="dropdown-item" href="#" style="font-family: sans-serif;">Last Week</a>
                          <a class="dropdown-item" href="#" style="font-family: sans-serif;">Last Month</a>
                          <a class="dropdown-item" href="#" style="font-family: sans-serif;">Current Year</a>
                        </div>
                      </div>
                      <div class="avatar-sm">
                        <span
                          class="avatar-title bg-light text-body rounded-circle fs-3"
                        >
                          <i class="ph-eye"></i>
                        </span>
                      </div>
                      <div class="mt-4">
                        <p
                          class="text-uppercase  fw-bold  text-truncate fs-sm"
                        style="font-family: serif;  color:#002147;">
                          Products
                        </p>
                        <h4 class="fw-semibold mb-3">
                          <span class="counter-value" data-target="{{total_products}}"
                            >0</span
                          >
                        </h4>
                        <div class="d-flex flex-wrap align-items-center gap-2">
                          <h5 class="text-danger fs-xs mb-0">
                            <i
                              class="ri-arrow-right-down-line fs-sm align-middle"
                            ></i>
                            +2.01 %
                          </h5>
                          <p class="text-muted mb-0" style="font-family: sans-serif;">than last week</p>
                        </div>
                      </div>
                    </div>
                    <!-- end card body -->
                  </div>
                  <!-- end card -->
                </div>
                <!-- end col -->

                <div class="col-md-3">
                  <!-- card -->
                  <div
                    class="card shadow-none  border-end-md border-top border-top-md-0 rounded-0 mb-0"
                  >
                    <div class="card-body">
                      <div class="dropdown float-end">
                        <a
                          class="text-reset dropdown-btn"
                          href="#"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <span class="text-muted fs-lg"
                            ><i class="mdi mdi-dots-vertical align-middle"></i
                          ></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a class="dropdown-item" href="#" style="font-family: sans-serif;">Today</a>
                          <a class="dropdown-item" href="#" style="font-family: sans-serif;">Last Week</a>
                          <a class="dropdown-item" href="#" style="font-family: sans-serif;">Last Month</a>
                          <a class="dropdown-item" href="#" style="font-family: sans-serif;">Current Year</a>
                        </div>
                      </div>
                      <div class="avatar-sm">
                        <span
                          class="avatar-title bg-info-subtle text-info rounded-circle fs-3"
                        >
                          <i class="ph-users-three"></i>
                        </span>
                      </div>
                      <div class="mt-4">
                        <p
                          class="text-uppercase  fw-bold  text-truncate fs-sm"
                        style="font-family: serif;  color:#002147;">
                          Customers
                        </p>
                        <h4 class="fw-semibold mb-3">
                          <span class="counter-value" data-target="{{total_customers}}">0</span
                          >
                        </h4>
                        <div class="d-flex flex-wrap align-items-center gap-2">
                          <h5 class="text-success fs-xs mb-0">
                            <i
                              class="ri-arrow-right-up-line fs-sm align-middle"
                            ></i>
                            +10.42 %
                          </h5>
                          <p class="text-muted mb-0" style="font-family: sans-serif;">than last week</p>
                        </div>
                      </div>
                    </div>
                    <!-- end card body -->
                  </div>
                  <!-- end card -->
                </div>
                <!-- end col -->
                  <div class="col-md-3">
                  <!-- card -->
                  <div
                    class="card shadow-none  rounded-0 mb-0"
                  >
                    <div class="card-body">
                      <div class="dropdown float-end">
                        <a
                          class="text-reset dropdown-btn"
                          href="#"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <span class="text-muted fs-lg"
                            ><i class="mdi mdi-dots-vertical align-middle"></i
                          ></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a class="dropdown-item" href="#" style="font-family: sans-serif;">Today</a>
                          <a class="dropdown-item" href="#" style="font-family: sans-serif;">Last Week</a>
                          <a class="dropdown-item" href="#" style="font-family: sans-serif;">Last Month</a>
                          <a class="dropdown-item" href="#" style="font-family: sans-serif;">Current Year</a>
                        </div>
                      </div>
                      <div class="avatar-sm">
                        <span
                          class="avatar-title bg-primary-subtle text-primary rounded-circle fs-3"
                        >
                          <i class="ph-wallet"></i>
                        </span>
                      </div>
                      <div class="mt-4">
                        <p
                          class="text-uppercase  fw-bold  text-truncate fs-sm"
                         style="font-family: serif;  color:#002147;">
                          Total Revenue
                        </p>
                        <h4 class="fw-semibold mb-3">
                          ₹&nbsp;<span class="counter-value" data-target="{{total_revenue}}"
                            >0</span
                          >
                        </h4>
                        <div class="d-flex flex-wrap align-items-center gap-2">
                          <h5 class="text-success fs-xs mb-0">
                            <i
                              class="ri-arrow-right-up-line fs-sm align-middle"
                            ></i>
                            +19.07 %
                          </h5>
                          <p class="text-muted mb-0" style="font-family: sans-serif;">than last week</p>
                        </div>
                      </div>
                    </div>
                    <!-- end card body -->
                  </div>
                  <!-- end card -->
                </div>
              </div>
              <!-- end row-->
            </div>
          </div>
        </div>
        <!--end col-->
        <div class="col-xl-12">
          <div class="card">
            <div class="row g-0">
              <div class="col-xl-9">
                <div class="card-header border-0 align-items-center d-flex">
                  <h4 class="card-title mb-0 flex-grow-1 fs-BOLD" style="font-family:serif;  color:#002147;">REVENUE</h4>
                  <div>
                    <button
                      type="button"
                      class="btn btn-subtle-secondary btn-sm"
                    >
                      ALL
                    </button>
                    <button
                      type="button"
                      class="btn btn-subtle-secondary btn-sm"
                    >
                      1M
                    </button>
                    <button
                      type="button"
                      class="btn btn-subtle-secondary btn-sm"
                    >
                      6M
                    </button>
                    <button type="button" class="btn btn-subtle-primary btn-sm">
                      1Y
                    </button>
                  </div>
                </div>
                <!-- end card header -->
                <div class="card-body ps-0">
                  <div class="w-100">
                    <div
                      id="market-overview"
                      data-colors='["--tb-primary", "--tb-secondary"]'
                      class="apex-charts"
                      dir="ltr"
                    ></div>
                  </div>
                </div>
                <!-- end card body -->
              </div>
              <div class="col-xl-3">
                <div
                  class="card-body border-start-xl border-top border-top-xl-0 border-2 h-100"
                >
                  <div>
                    <p class="text-muted mb-2">Budget (USD)</p>
                    <h4>
                      ₹750.36M
                      <small class="text-success fs-sm fw-normal"
                        ><i class="ph-arrow-up align-baseline"></i> 2.17%</small
                      >
                    </h4>
                    <p class="text-muted text-truncate" style="font-family:sans-serif;">
                      Budget in than last years
                    </p>
                    <div class="mx-3">
                      <div
                        id="mini-chart-6"
                        data-colors='["--tb-primary"]'
                        class="apex-charts"
                        dir="ltr"
                      ></div>
                    </div>
                  </div>

                  <div class="mt-4">
                    <p class="text-muted mb-2" >Payouts (USD)</p>
                    <h4>
                      ₹7,45,123
                      <small class="text-danger fs-sm fw-normal"
                        ><i class="ph-arrow-down align-baseline"></i>
                        -1.36%</small
                      >
                    </h4>
                    <p class="text-muted text-truncate"  style="font-family:sans-serif;">
                      Payouts in than last years
                    </p>
                    <div class="mx-3">
                      <div
                        id="mini-chart-7"
                        data-colors='["--tb-info"]'
                        class="apex-charts"
                        dir="ltr"
                      ></div>
                    </div>
                  </div>
                  <div class="mt-4">
                    <button
                      type="button"
                      class="btn btn-primary w-100 fs-lg"
                      data-bs-toggle="modal"
                      data-bs-target="#addAmount"
                      style="font-family:serif;background-color:#002147;border-color:#002147;">
                      Add Amount
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end card -->
        </div>
        <!-- end col -->
      </div>
      <!--end row-->

     

      <div class="row">
        <div class="col-lg-12">
          <div class="card" id="contactList">
            <div class="card-header align-items-center d-flex">
              <h4 class="card-title mb-0 flex-grow-1 fs-bold" style="font-family:serif;">Latest Orders</h4>
              <div class="flex-shrink-0">
                <div class="dropdown card-header-dropdown sortble-dropdown">
                  <a
                    class="text-reset dropdown-btn"
                    href="#"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <span class="fw-semibold text-uppercase fs-12"
                      >Sort by: </span
                    ><span class="text-muted dropdown-title ">Order Date</span>
                    <i class="mdi mdi-chevron-down ms-1"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end">
                    <button class="dropdown-item sort" data-sort="order_date">
                      Order Date
                    </button>
                    <button class="dropdown-item sort" data-sort="order_id">
                      Order ID
                    </button>
                    <button class="dropdown-item sort" data-sort="amount">
                      Amount
                    </button>
                    <button class="dropdown-item sort" data-sort="status">
                      Status
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table
                  class="table table-borderless table-centered align-middle table-nowrap mb-0"
                >
                  <thead class="text-muted table-light">
                    <tr>
                      <th
                        scope="col"
                        class=" cursor-pointer fs-lg"
                        data-sort="order_date"
                        style="font-family:serif; color:#002147;">
                        Order Date
                      </th>
                      <th
                        scope="col"
                        class=" cursor-pointer fs-lg"
                        data-sort="order_id"
                        style="font-family:serif; color:#002147;">
                        Order ID
                      </th>
                      <th
                        scope="col"
                        class="cursor-pointer fs-lg"
                        data-sort="shop"
                        style="font-family:serif; color:#002147;">
                        Shop
                      </th>
                      <th
                        scope="col"
                        class=" cursor-pointer fs-lg"
                        data-sort="customer"
                        style="font-family:serif; color:#002147;">
                        Customers
                      </th>
                      <th
                        scope="col"
                        class=" cursor-pointer fs-lg"
                        data-sort="products"
                        style="font-family:serif; color:#002147;">
                        Products
                      </th>
                      <th
                        scope="col"
                        class=" cursor-pointer fs-lg"
                        data-sort="amount"
                        style="font-family:serif; color:#002147;">
                        Amount
                      </th>
                      <th
                        scope="col"
                        class=" cursor-pointer fs-lg"
                        data-sort="status"
                        style="font-family:serif; color:#002147;">
                        Status
                      </th>
                      <th
                        scope="col"
                        class=" cursor-pointer fs-lg"
                        data-sort="rating"
                        style="font-family:serif; color:#002147;">
                        Rating
                      </th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    <tr>
                      <td class="order_date" style="font-family:sans-serif;">15 Feb, 2023</td>
                      <td class="order_id">
                        <a
                          href="apps-ecommerce-order-overview.html"
                          class="fw-medium link-primary"
                          style="font-family:sans-serif;"
                          >#TBS250011</a
                        >
                      </td>
                      <td class="shop">
                        <img
                          src="{% static 'dashboard/images/companies/img-7.png' %}"
                          alt=""
                          class="avatar-xxs rounded-circle"
                        />
                      </td>
                      <td class="customer" style="font-family:sans-serif;">Alex Smith</td>
                      <td class="products" style="font-family:sans-serif;">Clothes</td>
                      <td class="amount">
                        <span class="fw-medium" style="font-family:sans-serif;">₹109.00</span>
                      </td>
                      <td class="status">
                        <span class="badge bg-secondary-subtle text-secondary"
                          >New</span
                        >
                      </td>
                      <td class="rating">
                        <h5 class="fs-md fw-medium mb-0">-</h5>
                      </td>
                    </tr>
                    <!-- end tr -->
                    <tr>
                      <td class="order_date">14 Feb, 2023</td>
                      <td class="order_id">
                        <a
                          href="apps-ecommerce-order-overview.html"
                          class="fw-medium link-primary"
                          >#TBS250010</a
                        >
                      </td>
                      <td class="shop">
                        <img
                          src="{% static 'dashboard/images/companies/img-1.png' %}"
                          alt=""
                          class="avatar-xxs rounded-circle"
                        />
                      </td>
                      <td class="customer">Jansh Brown</td>
                      <td class="products">Kitchen Storage</td>
                      <td class="amount">
                        <span class="fw-medium">₹149.00</span>
                      </td>
                      <td class="status">
                        <span class="badge bg-warning-subtle text-warning"
                          >Pending</span
                        >
                      </td>
                      <td class="rating">
                        <h5 class="fs-md fw-medium mb-0">
                          <i class="ph-star align-baseline text-warning"></i>
                          4.5
                        </h5>
                      </td>
                    </tr>
                    <!-- end tr -->
                    <tr>
                      <td class="order_date">30 Jan, 2023</td>
                      <td class="order_id">
                        <a
                          href="apps-ecommerce-order-overview.html"
                          class="fw-medium link-primary"
                          >#TBS250009</a
                        >
                      </td>
                      <td class="shop">
                        <img
                          src="{% static 'dashboard/images/companies/img-2.png' %}"
                          alt=""
                          class="avatar-xxs rounded-circle"
                        />
                      </td>
                      <td class="customer">Ayaan Bowen</td>
                      <td class="products">Bike Accessories</td>
                      <td class="amount">
                        <span class="fw-medium">₹215.00</span>
                      </td>
                      <td class="status">
                        <span class="badge bg-danger-subtle text-danger"
                          >Out of Delivered</span
                        >
                      </td>
                      <td class="rating">
                        <h5 class="fs-md fw-medium mb-0">
                          <i class="ph-star align-baseline text-warning"></i>
                          4.9
                        </h5>
                      </td>
                    </tr>
                    <!-- end tr -->
                    <tr>
                      <td class="order_date">25 Jan, 2023</td>
                      <td class="order_id">
                        <a
                          href="apps-ecommerce-order-overview.html"
                          class="fw-medium link-primary"
                          >#TBS250008</a
                        >
                      </td>
                      <td class="shop">
                        <img
                          src="{% static 'dashboard/images/companies/img-3.png' %}"
                          alt=""
                          class="avatar-xxs rounded-circle"
                        />
                      </td>
                      <td class="customer">Prezy Mark</td>
                      <td class="products">Furniture</td>
                      <td class="amount">
                        <span class="fw-medium">₹199.00</span>
                      </td>
                      <td class="status">
                        <span class="badge bg-primary-subtle text-primary"
                          >Shipping</span
                        >
                      </td>
                      <td class="rating">
                        <h5 class="fs-md fw-medium mb-0">
                          <i class="ph-star align-baseline text-warning"></i>
                          4.3
                        </h5>
                      </td>
                    </tr>
                    <!-- end tr -->
                    <tr>
                      <td class="order_date">19 Jan, 2023</td>
                      <td class="order_id">
                        <a
                          href="apps-ecommerce-order-overview.html"
                          class="fw-medium link-primary"
                          >#TBS250007</a
                        >
                      </td>
                      <td class="shop">
                        <img
                          src="{% static 'dashboard/images/companies/img-4.png' %}"
                          alt=""
                          class="avatar-xxs rounded-circle"
                        />
                      </td>
                      <td class="customer">Vihan Hudda</td>
                      <td class="products">Bags and Wallets</td>
                      <td class="amount">
                        <span class="fw-medium">₹330.00</span>
                      </td>
                      <td class="status">
                        <span class="badge bg-success-subtle text-success"
                          >Delivered</span
                        >
                      </td>
                      <td class="rating">
                        <h5 class="fs-md fw-medium mb-0">
                          <i class="ph-star align-baseline text-warning"></i>
                          4.7
                        </h5>
                      </td>
                    </tr>
                    <!-- end tr -->
                    <tr>
                      <td class="order_date">16 Jan, 2023</td>
                      <td class="order_id">
                        <a
                          href="apps-ecommerce-order-overview.html"
                          class="fw-medium link-primary"
                          >#TBS250006</a
                        >
                      </td>
                      <td class="shop">
                        <img
                          src="{% static 'dashboard/images/companies/img-5.png' %}"
                          alt=""
                          class="avatar-xxs rounded-circle"
                        />
                      </td>
                      <td class="customer">Vihan Hudda</td>
                      <td class="products">Bags and Wallets</td>
                      <td class="amount">
                        <span class="fw-medium">₹745.11</span>
                      </td>
                      <td class="status">
                        <span class="badge bg-warning-subtle text-warning"
                          >Pending</span
                        >
                      </td>
                      <td class="rating">
                        <h5 class="fs-md fw-medium mb-0">
                          <i class="ph-star align-baseline text-warning"></i>
                          4.6
                        </h5>
                      </td>
                    </tr>
                    <!-- end tr -->
                  </tbody>
                  <!-- end tbody -->
                </table>
                <!-- end table -->
                <div class="noresult" style="display: none">
                  <div class="text-center">
                    <lord-icon
                      src="https://cdn.lordicon.com/msoeawqm.json"
                      trigger="loop"
                      colors="primary:#405189,secondary:#0ab39c"
                      style="width: 75px; height: 75px"
                    ></lord-icon>
                    <h5 class="mt-2">Sorry! No Result Found</h5>
                    <p class="text-muted mb-0">
                      We've searched more than 150+ transactions We did not find
                      any transactions for you search.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end col-->
       
      </div>
      <!--end row-->

      
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->
</div>
<!-- end main content-->
{% endblock content %}
